* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

#card {
  background-color: whitesmoke;
  width: 50%;
  height: fit-content;
  margin: 20% auto;
  padding: 2px;
  border-radius: 20px;
  box-shadow: 2px 2px 4px #e7e7e7;
}

/* CARD HEADER */

.header {
  width: 100%;
  height: fit-content;
}

.header .cover-image {
  width: 100%;
  height: 20vh;
  border-radius: 20px;
}

.header .avatar {
  width: 80px;
  height: auto;
  margin: -40px 0px 10px 20px;
  border-radius: 50%;
  position: relative;
}

.header .avatar>img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  z-index: -1;
}

.header .avatar .indicator {
  z-index: 1;
  position: absolute;
  right: 0;
  bottom: 10%;
  background-color: green;
  width: 18px;
  height: 18px;
  border: 2px solid whitesmoke;
  border-radius: 50%;
}

.header .info {
  padding: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .info h2 {
  font-size: 21px;
  font-family: "Roboto", sans-serif;
  letter-spacing: 2px;
  font-weight: 600;
}

.header .info .job-title {
  font-size: 12px;
  letter-spacing: 1.2px;
  font-weight: 600;
  color: gray;
}

.label {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  text-align: center;
  border: 2px solid #e7e7e7;
  border-radius: 50%;
}

/* CARD BODY */
.body {
  width: 100%;
  height: fit-content;
  padding: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.body .skills>span {
  padding: 10px;
  margin: 0 2px;
  background-color: #e7e7e7;
  font-weight: 600;
  font-size: 13px;
  letter-spacing: .8px;
  border-radius: 20px
}

.body .skills .label {
  /* background-color: #ffffff; */
  background-color: transparent;
}

.body .details {
  display: flex;
  width: 60%;
  margin: 30px;
}

.body .details > div {
  flex: 1;
  margin-right: 12px;
  padding: 0 10px;
}

.body .details > div:not(:last-of-type) {
    border-right: 3px solid #e7e7e7;
}

.body .details h3 {
  display: inline-flex;
  align-items: center;
  font-size: 21px;
  margin: 5px 0;
}

.body .details svg {
  margin-right: 4px;
}

.body .details span {
  text-transform: capitalize;
  font-weight: 600;
  font-size: 13px;
  letter-spacing: .8px;
  color: gray;
}

.btn {
  display: block;
  padding: 20px;
  width: 80%;
  text-align: center;
  margin: 30px auto;
  border-radius: 40px;
  background-color: black;
  color: white;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: capitalize;
}